.home {
  width: 100vw;
  align-items: center;
  font-family:'Courier New', Courier, monospace;
  color: black;
}

.about {
  width: 100%;
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: black;
}

.about h2 {
  font-size: 7vw;
  height: 50px;
}

.about .prompt {
  width: 50%;
  font-size: 2.7vw;
}
.prompt svg {
  font-size: 40px;
  margin: 10px;
  color: black;
  opacity: 1;
}

@media only screen and (min-width: 1000px) {
  .about h2 {
    font-size: 70px;
  }
  .about .prompt {
    font-size: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }
}