.navbar {
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
}

.linksContainer {
  position:absolute;
  left: 43px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.links {
  width: auto;
  height: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 30px;
  margin-left: 30px;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar a {
  color: black;
  text-decoration: none;
  margin: 20px;
  font-size: 25px;
}

#open .links {
  left: 0;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(.18,.87,.3,.97);
}

#close .links {
  left: -100%;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(.52,-0.14,.96,.53);
}

.toggleButton {
  position: absolute;
  top: 29px;
  left: 29px;
  color: black;
}

.toggleButton button {
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  color: black;
  cursor: pointer;
  transition-duration: 500ms;
  &:hover {
    animation: pulse 2s ease-in-out infinite;
  }
}

@keyframes pulse{
  50%{
    box-shadow: 0 0 15px 3px black;
    transform: scale(1.1);
  }
  100%{
    box-shadow: 0 0 30px 3px rgba(0,0,0,0);
    transform: scale(1.0);
  }
}

.navbar ::selection {
  background-color: black;
  color: white;
}

.menuText {
  position:absolute;
  top: 60px;
  left: 0px;
  opacity: 1;
  transition-duration: 500ms;
}

#clicked {
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  .navbar a {
    font-size: 20px;
  }
  .links {
    position:static;
  }
  .linksContainer {
    left:auto;
  }
  .toggleButton {
    display: none;
  }
  .menuText {
    display:none;
  }
}