.resume {
    width: 100%;
    height: calc(100vh - 50px);
    max-width: 100vw;
    font-family:'Courier New', Courier, monospace;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.download {
    font-weight: bold;
    font-size:larger;
}

#resText {
    text-decoration: dashed;
}

a {
    text-decoration: none;
    color: black;
}